.app-todoitem {
    display: flex;
    flex-direction:row;
    height: 30px;
}

.task-completed {
    width: 300px;
    color: #959b9e;
    text-decoration: line-through;
    padding: 16px;
    border: 0;
    background: #f5f5f5;
}
.task-active {
    width: 300px;
    padding: 16px;
    border: 0;
    background: #f5f5f5;
}